<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>My Storefront - List Products</title>
</head>

<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron"></div>
<div class="companypageheader" th:replace="fragments/companypageheader :: companypageheader"></div>

<div class="container">
    <br/>
      <div th:if="${not #lists.isEmpty(products)}">
           <table class="table table-striped">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
            <tr th:each="product : ${products}">
                <td> <img th:src="@{'/images/' +${product.imageUrl}}"  class="small-image"/></img></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.available}"></td>
                <td><a th:href="${'/product/show/' + product.id}">View</a> </td>
                <td><a th:href="${'/product/edit/' + product.id}">Edit</a> </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <a href="/product/new">New Product</a>
        </div>
    </div>
</div>

<br>
<div class="companyfooter" th:replace="fragments/companyfooter :: companyfooter"></div>
</body>
</html>