<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link media="screen" rel="stylesheet" th:href="@{/css/custom.css}"/>

    <title>Change Password</title>
</head>

<body>
<div class="jumbotron2" th:replace="fragments/jumbotron2 :: jumbotron2"></div>
<div class="storefrontheader" th:replace="fragments/storefrontheader :: storefrontheader"></div>

<main class="container">
<br>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-5">
            <h3><b>Change Login</b></h3>
            </div>
        </div>
    </div>

            <form class="change_password" method="post" th:action="@{/change_password/customer}" th:object="${ChangePasswordForm}">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-2">

            <p class="error" th:if="${currentPasswordError}"> Current Password is Invalid</p>
            <p class="error" th:if="${newPasswordError}"> New Password must match Confirm Password</p>
            <dl>
                <dt><label for="currentPassword">Current Password</label></dt>
                <dd><input autofocus="autofocus" id="currentPassword" name="currentPassword" required="required" type="password"/></dd>
                </br>

                <dt><label for="newPassword">New Password</label></dt>
                <dd><input id="newPassword" name="newPassword" required="required" type="password" /></dd>
                </br>

                <dt><label for="confirmPassword">Confirm Password</label></dt>
                <dd><input id="confirmPassword" name="confirmPassword" required="required" type="password" /></dd>
            </dl>
               <div class="row">
               <div class="col-md-8">
               <div class="col-sm-offset-6">
                     <button class="btn btn-primary" type="submit" value="Login"/>Change Password</button></dd>
               </div>
               </div>
               </div>
               </div>
               </div>
            </div>
        </form>
    </div>
</main>
<br>
<br>
<div class="storefrontfooter" th:replace="fragments/storefrontfooter :: storefrontfooter"></div>
</body>
</html>