<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>My Storefront - Customer Update</title>
</head>

<body>
<div class="jumbotron2" th:replace="fragments/jumbotron2 :: jumbotron2"></div>
<div class="storefrontheader" th:replace="fragments/storefrontheader :: storefrontheader"></div>

<div class="container">
    <br>
    <form class="form-horizontal" th:object="${customer}" th:action="@{/customer/edit}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <br>
        <h3><b>Customer Information</b></h3>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <P th:if="${customerError != null}" th:class="error" th:text="${customerError}"></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input required="required" th:minlength="2" th:maxlength="50" type="text" class="form-control"
                       th:field="*{firstName}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input required="required" th:minlength="2" th:maxlength="50" type="text" class="form-control"
                       th:field="*{lastName}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input required="required" type="email"
                       placeholder="username@emailprovider.com"
                       class="form-control" th:field="*{email}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Phone:</label>
            <div class="col-sm-10">
                <input required="required" type="text" class="form-control" th:field="*{phoneNumber}"/>
            </div>
        </div>

        <div class="form-group">.
            <label class="col-sm-2 control-label">Shipping Address Line 1:</label>
            <div class="col-sm-10">
                <input type="text" required="required" th:minlength="2" th:maxlength="50" class="form-control"
                       th:field="*{shippingAddress.addressLine1}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Shipping Address Line 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{shippingAddress.addressLine2}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Shipping City:</label>
            <div class="col-sm-10">
                <input required="required" th:minlength="2" th:maxlength="50" type="text" class="form-control"
                       th:field="*{shippingAddress.city}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Shipping State:</label>
            <div class="col-sm-10">
                <input required="required" th:minlength="2" th:maxlength="2" type="text" class="form-control"
                       th:field="*{shippingAddress.state}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Shipping Zip Code:</label>
            <div class="col-sm-10">
                <input required="required" placeholder="61001" pattern="[0-9]{5}" type="text" class="form-control"
                       th:field="*{shippingAddress.zipCode}"/>
            </div>
        </div>

        <br>
        <h3><b>User Login Information</b></h3>
        <br>

        <div class="form-group">
            <label class="col-sm-2 control-label">User Name:</label>
            <div class="col-sm-10">
                <input required="required" th:minlength="4" th:maxlength="25" type="text" class="form-control"
                       th:field="*{username}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-success">Update Information</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<br>
<div class="storefrontfooter" th:replace="fragments/storefrontfooter :: storefrontfooter"></div>
</body>
</html>